# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# Visual Studio cache directory
/.vs/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
/ParseLiveQuery/.vs/ParseLiveQuery/CopilotIndices/17.12.38.29086/CodeChunks.db
/ParseLiveQuery/.vs/ParseLiveQuery/CopilotIndices/17.12.38.29086/SemanticSymbols.db
/ParseLiveQuery/.vs/ParseLiveQuery/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
/ParseLiveQuery/.vs/ParseLiveQuery/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
/ParseLiveQuery/.vs/ParseLiveQuery/DesignTimeBuild/.dtbcache.v2
/ParseLiveQuery/.vs/ParseLiveQuery/FileContentIndex/f03d1f20-08e7-4d78-8071-4ddda03fe7c9.vsidx
/ParseLiveQuery/.vs/ParseLiveQuery/v17/.futdcache.v2
/ParseLiveQuery/.vs/ParseLiveQuery/v17/DocumentLayout.json
/ParseLiveQuery/.vs/ProjectEvaluation/parselivequery.metadata.v9.bin
/ParseLiveQuery/.vs/ProjectEvaluation/parselivequery.projects.v9.bin
/ParseLiveQuery/.vs/ProjectEvaluation/parselivequery.strings.v9.bin
/ParseLiveQuery/nuget.config
/ParseLiveQuery/.vs/ParseLiveQuery/CopilotIndices/17.12.38.29086/CodeChunks.db-wal
/ParseLiveQuery/.vs/ParseLiveQuery/CopilotIndices/17.12.38.29086/CodeChunks.db-shm
/ParseLiveQuery/.vs/ParseLiveQuery/FileContentIndex/8dc72806-2a39-4bb2-9b1f-0c4f2186bebf.vsidx
/ParseLiveQuery/.vs/ParseLiveQuery/v17/DocumentLayout.backup.json
/ParseLiveQuery/.vs/ParseLiveQuery
